body {
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  font-family: "Proza Libre", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.wy-grid-for-nav, .wy-nav-side {
  overflow-y: scroll;
  top: 100px;
  height: calc(100% - 145px);
}

.topnav {
  background: #fcfcfc;
  width: 100%;
  height: 100px;
  padding: 8px;
  display: flex;
  z-index: 200;
  position: fixed;
  overflow: hidden;
}
.topnav .link-div {
  position: fixed;
  right: 0;
}
.topnav a {
  float: right;
  color: cadetblue;
  text-align: center;
  padding: 40px 25px;
  text-decoration: none;
  font-size: 21px;
}
.topnav a:hover {
  color: black;
}
.topnav a.logo {
  padding: 0;
  float: left;
}

img.logo {
  float: left;
  width: 175px;
}

.footer img.logo {
  float: left;
  width: 100px;
}

html.writer-html5 .rst-content dl.trst-parameter-dl {
  margin: 0 0 0 0;
}
html.writer-html5 .rst-content dl.trst-property-dl, html.writer-html5 .rst-content dl.trst-parameter-dl {
  vertical-align: middle;
}
html.writer-html5 .rst-content dl.trst-property-dl dt, html.writer-html5 .rst-content dl.trst-property-dl dd, html.writer-html5 .rst-content dl.trst-parameter-dl dt, html.writer-html5 .rst-content dl.trst-parameter-dl dd {
  margin: 0 0 1rem 1rem;
  line-height: normal;
}
html.writer-html5 .rst-content dl.trst-property-dl dt, html.writer-html5 .rst-content dl.trst-parameter-dl dt {
  padding-left: 2px;
}
html.writer-html5 .rst-content dl.trst-property-dl dd, html.writer-html5 .rst-content dl.trst-parameter-dl dd {
  margin-left: 1rem;
}
html.writer-html5 .rst-content .trst-class, html.writer-html5 .rst-content .trst-interface, html.writer-html5 .rst-content .trst-function, html.writer-html5 .rst-content .trst-type, html.writer-html5 .rst-content .trst-type-parameter, html.writer-html5 .rst-content .trst-property, html.writer-html5 .rst-content .trst-call-signature, html.writer-html5 .rst-content .trst-type-constraint {
  font-family: "Courier New", monospace;
}
html.writer-html5 .rst-content .trst-class {
  color: red;
}
html.writer-html5 .rst-content .trst-interface {
  color: blue;
}
html.writer-html5 .rst-content .trst-function {
  color: green;
}
html.writer-html5 .rst-content .trst-type {
  margin-bottom: 0;
}
html.writer-html5 .rst-content .trst-type-parameter {
  padding: 2px;
  color: purple;
  border-top: solid 3px purple;
  background: lavender;
}
html.writer-html5 .rst-content .trst-property {
  padding: 2px;
  color: purple;
  border-top: solid 3px purple;
  background: lavender;
}
html.writer-html5 .rst-content .trst-method {
  padding: 2px;
  color: green;
  border-top: solid 3px green;
  background: #e9ffdb;
}
html.writer-html5 .rst-content .trst-parameter {
  padding: 2px;
  color: purple;
  border-top: solid 2px purple;
  background: lavender;
}
html.writer-html5 .rst-content .trst-class-desc, html.writer-html5 .rst-content .trst-interface-desc, html.writer-html5 .rst-content .trst-property-desc, html.writer-html5 .rst-content .trst-parameter-desc, html.writer-html5 .rst-content .trst-method-desc {
  display: block;
  margin: 0 0 1rem 1rem;
}
